@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	cursor: pointer;
}

.outline-all-0,
.outline-all-0:hover {
	outline: 0;
}

.h-75-w-container {
	padding-top: 75%;
	position: relative;
}
.h-75-w-child {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}